@font-face {
	font-family: 'TTCommons';
	src: url('/TTCommons.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

html,
body {
	margin: 0;
	font-family: 'TTCommons';
	font-weight: 700;
	font-size: 1.25rem;
	color: #f7f7f7;
	text-transform: uppercase;
	background-size: 300px;
	background-color: #040404;
	background-image: url('/bg.svg');
	overflow-x: hidden;
	overflow-y: hidden;
}

body,
#__next {
	height: 100vh;
}

.wrapper {
	padding: 2rem;
	height: 100%;
}

footer {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
}

a.projects {
	color: inherit;
	text-decoration: underline;
	text-decoration-style: dotted;
	margin-top: 0.7rem;
	display: table;
}

a.socials {
	color: inherit;
	text-decoration: underline;
	text-decoration-style: dotted;
	font-size: 1rem;
	display: inline-block;
	margin-right: 0.5rem;
	margin-top: 0.7rem;
	margin-bottom: 1.1rem;
}

.cursorOne {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fafafa;
	height: 6px;
	width: 6px;
	border-radius: 3px;
	z-index: 9999;
	transition: height 0.5s, width 0.5s;
}

.cursorTwo {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 1px solid #fafafa;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	z-index: 1;
	transition: height 0.5s, width 0.5s;
}

* {
	box-sizing: border-box;
	cursor: none;
}

a:hover ~ .cursorTwo {
	width: 40px !important;
	height: 40px !important;
	border-radius: 20px !important;
}

a:hover ~ .cursorOne {
	height: 8px;
	width: 8px;
	border-radius: 4px;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		padding: 1.5rem;
	}
	footer {
		bottom: 1.5rem;
		left: 1.5rem;
	}
	.cursorOne,
	.cursorTwo {
		display: none;
	}
}
